[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/csv"]
	path = bundle/csv
	url = git://github.com/chrisbra/csv.vim.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = git://github.com/plasticboy/vim-markdown.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/hybrid"]
	path = bundle/hybrid
	url = git://github.com/w0ng/vim-hybrid.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/mustache"]
	path = bundle/mustache
	url = git://github.com/mustache/vim-mustache-handlebars.git
[submodule "bundle/tmux-navigator"]
	path = bundle/tmux-navigator
	url = git://github.com/christoomey/vim-tmux-navigator.git
[submodule "bundle/ansible-yaml"]
	path = bundle/ansible-yaml
	url = git://github.com/chase/vim-ansible-yaml.git
[submodule "bundle/css3-syntax"]
	path = bundle/css3-syntax
	url = git://github.com/hail2u/vim-css3-syntax.git
[submodule "bundle/less"]
	path = bundle/less
	url = git://github.com/groenewege/vim-less.git
[submodule "bundle/json"]
	path = bundle/json
	url = git://github.com/elzr/vim-json.git
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/unite"]
	path = bundle/unite
	url = git://github.com/Shougo/unite.vim.git
[submodule "bundle/vimfiler"]
	path = bundle/vimfiler
	url = git://github.com/Shougo/vimfiler.vim.git
[submodule "bundle/unite-tag"]
	path = bundle/unite-tag
	url = git://github.com/tsukkee/unite-tag.git
[submodule "bundle/vimproc"]
	path = bundle/vimproc
	url = git://github.com/Shougo/vimproc.vim.git
[submodule "bundle/emmet"]
	path = bundle/emmet
	url = git://github.com/mattn/emmet-vim.git
[submodule "bundle/signify"]
	path = bundle/signify
	url = git://github.com/mhinz/vim-signify.git
[submodule "bundle/phpcomplete"]
	path = bundle/phpcomplete
	url = git://github.com/shawncplus/phpcomplete.vim.git
[submodule "bundle/unite-neomru"]
	path = bundle/unite-neomru
	url = git://github.com/Shougo/neomru.vim.git
[submodule "bundle/neocomplete"]
	path = bundle/neocomplete
	url = git://github.com/Shougo/neocomplete.vim.git
[submodule "bundle/bookmarks"]
	path = bundle/bookmarks
	url = git://github.com/MattesGroeger/vim-bookmarks.git
[submodule "bundle/neosnippet"]
	path = bundle/neosnippet
	url = git://github.com/Shougo/neosnippet.vim.git
[submodule "bundle/file-line"]
	path = bundle/file-line
	url = git://github.com/bogado/file-line.git
[submodule "bundle/tern"]
	path = bundle/tern
	url = git://github.com/marijnh/tern_for_vim.git
[submodule "bundle/go"]
	path = bundle/go
	url = git://github.com/fatih/vim-go.git
[submodule "snippets/shougo"]
	path = snippets/shougo
	url = git://github.com/Shougo/neosnippet-snippets.git
[submodule "bundle/colorpicker"]
	path = bundle/colorpicker
	url = git://github.com/farseer90718/vim-colorpicker.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "bundle/tinyline"]
	path = bundle/tinyline
	url = git://github.com/rafi/vim-tinyline.git
[submodule "bundle/unite-quickfix"]
	path = bundle/unite-quickfix
	url = git://github.com/osyo-manga/unite-quickfix.git
[submodule "bundle/choosewin"]
	path = bundle/choosewin
	url = git://github.com/t9md/vim-choosewin.git
[submodule "bundle/gitv"]
	path = bundle/gitv
	url = git://github.com/gregsexton/gitv.git
[submodule "bundle/unite-session"]
	path = bundle/unite-session
	url = git://github.com/Shougo/unite-session.git
[submodule "bundle/neossh"]
	path = bundle/neossh
	url = git://github.com/Shougo/neossh.vim.git
[submodule "bundle/delimitmate"]
	path = bundle/delimitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "bundle/php"]
	path = bundle/php
	url = git://github.com/StanAngeloff/php.vim.git
[submodule "bundle/vinarise"]
	path = bundle/vinarise
	url = git://github.com/Shougo/vinarise.vim.git
[submodule "bundle/unite-outline"]
	path = bundle/unite-outline
	url = git://github.com/Shougo/unite-outline.git
