[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/csv"]
	path = bundle/csv
	url = git://github.com/chrisbra/csv.vim.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/gitgutter"]
	path = bundle/gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = git://github.com/plasticboy/vim-markdown.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/lightline"]
	path = bundle/lightline
	url = git://github.com/itchyny/lightline.vim
[submodule "bundle/hybrid"]
	path = bundle/hybrid
	url = git://github.com/w0ng/vim-hybrid.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/mustache"]
	path = bundle/mustache
	url = git://github.com/mustache/vim-mustache-handlebars.git
[submodule "bundle/tmux-navigator"]
	path = bundle/tmux-navigator
	url = git://github.com/christoomey/vim-tmux-navigator.git
[submodule "bundle/ansible-yaml"]
	path = bundle/ansible-yaml
	url = git://github.com/chase/vim-ansible-yaml.git
[submodule "bundle/gocode"]
	path = bundle/gocode
	url = git://github.com/Blackrush/vim-gocode.git
[submodule "bundle/vimcompletesme"]
	path = bundle/vimcompletesme
	url = git://github.com/ajh17/VimCompletesMe.git
[submodule "bundle/css3-syntax"]
	path = bundle/css3-syntax
	url = git://github.com/hail2u/vim-css3-syntax.git
[submodule "bundle/less"]
	path = bundle/less
	url = git://github.com/groenewege/vim-less.git
[submodule "bundle/json"]
	path = bundle/json
	url = git://github.com/elzr/vim-json.git
[submodule "bundle/visual-star-search"]
	path = bundle/visual-star-search
	url = git://github.com/nelstrom/vim-visual-star-search.git
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = git://github.com/techlivezheng/vim-plugin-minibufexpl.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
